JWT_SECRET=<32_CHARS_LONG_SECRET_HERE>
PORT=<PORT_HERE>
DB_PATH=<DB_PATH_HERE>
COOKIE_SECURE=<true/false>

# For example
# JWT_SECRET=TaawunRelease01SecretKey_9f8e7drc5e4a3z2y1z0w
# PORT=8080
# DB_PATH=./taawun.db
# COOKIE_SECURE=false
